<nav class="indigo lighten-2">
	<% if(currentUser) { %>
        <a href="/home">Home</a>
		<a href="/trips">My Trips</a>
		<a href="/member/logout">Log Out</a>
        <% } else { %>
        <a href="/home">Home</a>
		<a href="/user/new">Register</a>
		<a href="/member/login">Log In</a>
	<% } %>
</nav>