<nav>
	<% if(currentUser) { %>
        <a href="/home">Home</a>
		<a href="/trips">My Trips</a>
		<form action="/member?_method=DELETE" method="POST">
            <button>Log Out</button>
		</form>
        <% } else { %>
        <a href="/home">Home</a>
		<a href="/user/new">Register</a>
		<a href="/member/login">Log In</a>
	<% } %>
</nav>