<style>
    body {
        background-image: url("https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg");
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>About Me</title>
</head>
<body>
    <div class="container content">
        <div class="container">
            <a href="/home">Back</a>
                <div class="container center-align">
                Hello! Thanks for clicking on About Me. I am James Ocana. Here are the links to my GitHub and LinkedIn. <br>
                Please feel free to contact me if you have any questions or inquiries! <br>
                <a href="https://github.com/jamesocana6">GitHub</a> <br>
                <a href="https://linkedin.com/in/james-ocana">LinkedIn</a>
            </div>
        </div>
    </div>
    
</body>
</html>