<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTinerary</title>
</head>
<body>
    <%- include("./partials/nav.ejs")%>
    <h1><%=currentUser.username%>'s Trips</h1>
    <a href="/trip">Add a Trip</a>
</body>
</html>