<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTinerary | Countries</title>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <h1><%=country.name%></h1>
</body>
</html>