<style>
    body {
        background-image: url("https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg");
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs")%>
</head>
<body>
    <main>
        <%- include("../partials/nav.ejs")%>
        <div class="container center-align content">
            <h3>Register</h3>
            <div class="container center-align loginInputs">
                <form action="/user" method="POST">
                    Username: <input type="text" name="username" required><br>
                    Password: <input type="password" name="password" required><br>
                    <button class="btn waves-effect waves-light" type="submit">Register</button>
                </form>
            </div>
        </div>
    </main>
    <%- include("../partials/footer.ejs")%>
</body>
</html>