<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTinerary | New User</title>
</head>
<body>
    <h1>New User</h1>
    <form action="/user" method="POST">
        Email: <input type="email" name="email"><br>
        Username: <input type="text" name="username" required>
        <%if (usernameUnique = false) { %>
            Please use a different username <%console.log("hello it is true")%>
            <% } %>
            <br>
        Password: <input type="password" name="password" required><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>