<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTinerary | Log In</title>
</head>
<body>
    <h1>Log In</h1>
    <form action="/member" method="POST">
        Username: <input type="text" name="username" required><br>
        Password: <input type="password" name="password" required><br>
        <input type="submit" value="Log In">
    </form>
</body>
</html>