<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTinerary</title>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <h1>Edit Trip</h1>
    <h2><%= trip.name %></h2>
    <form action="/trips/<%=trip._id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name"><br>
        Country: <input type="text" name="country" list="country"><br>
        <datalist id="country">
            <%for (let country of countryNames) { %>
                <option>
                    <%=country.name%>
                </option>
            <% } %>
        </datalist>
        Date: <input type="date" name="date"><br>
        Length of Trip (in Days): <input type="number" name="lengthOfTrip"><br>
        Number of People: <input type="number" name="numberOfPeople"><br>
        Total Cost: <input type="number" name="totalCost"><br>
        Places Visited: <input type="text" name="placesVisited"><br>
        <input type="submit" value="Edit Trip">
    </form>
</body>
</html>