<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTinerary</title>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <h1>Add a Trip</h1>
    <form action="/trips" method="POST">
        Name: <input type="text" name="name"><br>
        Country: <input type="text" name="country" list="country"><br>
            <datalist id="country">
                <%for (let country of countryNames) { %>
                    <option>
                        <%=country.name%>
                    </option>
                <% } %>
            </datalist>
        Date: <input type="date" name="date"><br>
        Length of Trip (in Days): <input type="number" name="lengthOfTrip" min="0"><br>
        Number of People: <input type="number" name="numberOfPeople" min="1"><br>
        Total Cost: <input type="number" name="totalCost" min="0"><br>
        Notable Places: <input type="text" name="placesVisited"><br>
        <button>New Trip</button>
    </form>
</body>
</html>